body {
background-image: url(image/mods.jpg);
background-attachment: fixed topmarign="0";
}
#menu {
	width: 100%;
	height: 80px;
	border-bottom: 5px solid black;
	background-color: #2E3233;
}
#menu ul{
	padding: 0;
	margin: 0 auto;
	width: 80%;
}
#menu li{
	display: inline-block;
	list-style-type: none;
	width: 24%;
	text-align: center;
	height: 48px;
	padding-top: 18px;
	font-family: fantasy;

}
#menu a{
	color: white;
	text-decoration: none;
	font-size: 40px;
}
#menu a:hover {
	color: #ff6666;
	transition: all 0.5s;
}
a.mylink:hover img {
	transition: all 0.5s;
	width: 0%;
	height: 0px;
}
a.mylink img {
	width: 15%;
	height: 40px;
}
.mods:hover img {
	transition: all 0.5s;
	width: 0%;
	height: 0px;
}
a.mods img {	
	width: 10%;
	height: 40px;
}
.download:hover img {
	transition: all 0.5s;
	width: 0%;
	height: 0px;
}
a.download img {	
	width: 10%;
	height: 30px;
}